{% extends "base.html" %}
<title>{% block title %}Projektų portalas{% endblock %}</title>

{% block content %}
<div class="container text-center">
<h3>Projektų portalas</h3>
{% if user.is_authenticated %}
    Sveiki, {{ user.get_username }}. Visus savo projektus rasite <a href="{% url 'manoprojektai' %}">čia</a>
{% else %}
<a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Prisijunkite, kad peržiūrėti savo projektus</a>
{% endif %}
    <br>
    <br>
<ul class="list-group">
    <li class="list-group-item"><strong>Vykdomu projektu skaicius:</strong> {{ visi_projektai }}</li>
    <li class="list-group-item"><strong>Musu darbuotoju skaicius:</strong> {{ visi_darbuotojai }}</li>
  </ul>
</div>
{% endblock %}