{% extends "base.html" %}
<title>{% block title %}Visi projektai{% endblock %}</title>

{% block content %}
{% load static %}
<p><h3>Visi vartotojo <em>{{ user.get_username }}</em> projektai</h3></p>
<br>

<div class="container-fluid cxt-padded bg-faded">
    <div class="container">

        <div class="row row-cols-3 text-center">
            {% for projektas in object_list %}
            <figure>
                <img src="{{ projektas.nuotrauka.url }}" style="max-width: 16rem;" alt="...">
                <div class="card-body">
                    <figcaption>
                        <h5>
                            <div class="col-sm"><a href="{{ projektas.pk }}"> {{ projektas.pavadinimas }}</a></div>
                        </h5>
                    </figcaption>
                    <figcaption><p class="card-text">{{ projektas.aprasymas | safe }}</p></figcaption>
                    <figcaption><strong>Projekto terminas:<br></strong> {{ projektas.pabaiga }}</figcaption>
                </div>
            </figure>
            {% endfor %}
        </div>

    </div>
</div>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}